*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pwd-string{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

body{
    color: white;
    background-color:seagreen
}

body > hr:first-child{
    margin-top: 45vh;
}